In [ ]:
#q1 Write a code to create a string with your name and print it.
name= "Divyansh khandelwal"
print(name)

Divyansh khandelwal

In [ ]:
#q2 Write a code to find the length of the string "Hello World"
x= "Hello World"
len(x)

11

In [ ]:
#q3 Write a code to slice the first 3 characters from the string "Python Programming"
x = "Python Programming"
print(x[0:3:1])

Pyt

In [ ]:
#q4. Write a code to convert the string "hello" to uppercase
x= "hello"
print(x.upper())

HELLO

In [ ]:
#q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
j ="I like apple"
print(j.replace("apple","orange"))

I like orange

In [ ]:
 #q6 Write a code to create a list with numbers 1 to 5 and print it
 x=[1,2,3,4,5]
 print(x)
 print(type(x))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
#q7.Write a code to append the number 10 to the list [1, 2, 3, 4]
y = [1,2,3,4]
y.append(10)
print(y)

[1, 2, 3, 4, 10]

In [ ]:
#q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l= [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
#q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ["a","b","c","d"]
list[1:2:1]

['b']

In [ ]:
#q.10 Write a code to reverse the list [10, 20, 30, 40, 50].
list2= [10, 20, 30, 40, 50]
list2.reverse()
print(list2)

[50, 40, 30, 20, 10]

In [ ]:
#q11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tupple = (100,200,300)
print (tupple)
print(type(tupple))

(100, 200, 300)
<class 'tuple'>

In [ ]:
#q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tupple1 = ('red', 'green', 'blue' , 'yellow')
tupple1[2:3:1]

('blue',)

In [ ]:
#q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tupple3 = (10,20,5,15)
print(min(tupple3))

5

In [ ]:
#q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tupple4 = ('dog', 'cat', 'rabbit')
print(tupple4.index("cat"))

1

In [ ]:
#q15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tupple5 = ("apple","banana","kiwi")
"kiwi" in tupple5

True

In [ ]:
#q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it
set = {'a', 'b', 'c'}
print(set)
print(type(set))

{'c', 'b', 'a'}
<class 'set'>

In [ ]:
 #q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
 set = {1,2,3,4,5}
 set.clear()

In [ ]:
 #q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
 set_2 = {1,2,3,4}
 set_2.remove(4)
 print(set_2)

{1, 2, 3}

In [ ]:
#q19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set3 = {1,2,3}
set4 = {3,4,5}
print(set3.union(set4))

{1, 2, 3, 4, 5}

In [ ]:
#q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

In [ ]:
#q21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "divyansh","age":"21","city":"jaipur"}
print (dict)
print(type(dict))

{'name': 'divyansh', 'age': '21', 'city': 'jaipur'}
<class 'dict'>

In [ ]:
#q22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict2 = {'name': 'John', 'age': 25}
dict2['country'] = 'USA'
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict={'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [ ]:
#q24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#q25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
#q26 Write a code to create a list, a tuple, and a dictionary, and print them all.
list6 = (1,2,3,4,5,5,5)
tupple = ("a","bb",6,7)
dict = {"name":"chetan","age":"45"}
print(list6)
print(tupple)
print(dict)

(1, 2, 3, 4, 5, 5, 5)
('a', 'bb', 6, 7)
{'name': 'chetan', 'age': '45'}

In [ ]:
#q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
n=5
p = random.sample(range(1, 101), n)
p.sort()
print(p)

[18, 30, 46, 74, 100]

In [ ]:
#q28  Write a code to create a list with strings and print the element at the third index
x = ["bbc","abc","aaa","bbb","ccc"]
print(x[3:4])
print(x.index("bbb"))

['bbb']
3

In [ ]:
#q29 Write a code to combine two dictionaries into one and print the result.
dict = {"name":"ron","age":"20"}
dict2 = {"country":"india","gender":"male"}
dict.update(dict2)
print(dict)

{'name': 'ron', 'age': '20', 'country': 'india', 'gender': 'male'}

In [ ]:
# q30 . Write a code to convert a list of strings into a set

list = ["aa","ss","bb"]
list = set(list)
print(type(list))
print(list)

<class 'set'>
{'aa', 'bb', 'ss'}